
@{
    ViewData["Title"] = "Putin";
}

<h1>Putin</h1>
<h2>Result: @ViewBag.Result</h2>
Count: @ViewBag.Paragraphs.Count <br>
<ul>
    @for (int i = 0; i < ViewBag.Paragraphs.Count; i++)
    {
        <li>
            <b>@ViewBag.Results[i].Item1/@ViewBag.Results[i].Item2</b>@foreach (var word in ViewBag.Paragraphs[i])
            {
                @if (ViewBag.Tokens.ContainsKey(word))
                {
                    <span title="@ViewBag.Tokens[word]" style="background: rgb(200, 200 ,0);" >@word</span>
                }
                else
                {
                    <text>
                        @word
                    </text>
                }
            }
        </li>
    }
</ul>

@ViewBag.Text